@media screen and (max-width:1150px) {
    .wrap__item {
        max-width: 245px;
    }

    .catalog__img-3 {
        max-width: 260px;
    }
}

@media screen and (max-width:1100px) {
    .catalog__wrap {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 8px;
    }

    .aboutus__desc-1 {
        font-size: 16px;
        line-height: 18px;
        max-width: 420px;
    }

    .aboutus__desc-2 {
        font-size: 16px;
        line-height: 18px;
        max-width: 420px;
    }

}

@media screen and (max-width:980px) {
    .aboutus__img img {
        max-width: 500px;
    }

    .aboutus__desc-1 {
        font-size: 14px;
        line-height: 16px;
        max-width: 380px;
    }

    .aboutus__desc-2 {
        font-size: 14px;
        line-height: 16px;
        max-width: 380px;

    }
}
@media screen and (max-width:890px) {
    .aboutus__desc-1{
        max-width: 300px;
    }
    .aboutus__desc-2{
        max-width: 300px;
    }
    .aboutus__img img {
        max-width: 480px;
    }
    
}
@media screen and (max-width:850px) {
    .aboutus__desc-1 {
        font-size: 14px;
        line-height: 16px;
    }

    .aboutus__desc-2 {
        font-size: 14px;
        line-height: 16px;
    }

    .aboutus__img img {
        max-width: 420px;
    }

    .catalog__img-2 {
        max-width: 250px;
    }
}

@media screen and (max-width:800px) {
    .header__nav {
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width:750px) {
    .aboutus__desc-1 {
        font-size: 13px;
        line-height: 15px;
    }

    .aboutus__desc-2 {
        font-size: 13px;
        line-height: 15px;
    }

    .contacts {
        padding: 0 20px;
    }
    .aboutus__img img {
        max-width: 380px;
    }
}

@media screen and (max-width:720px) {
    .aboutus__img img {
        max-width: 350px;
    }
}

@media screen and (max-width:640px) {
    .aboutus__img img {
        max-width: 400px;
    }

    .aboutus__desc-1 {
        font-size: 14px;
        line-height: 16px;
        max-width: 350px;
    }

    .aboutus__desc-2 {
        font-size: 14px;
        line-height: 16px;
        max-width: 350px;
    }

    .banner__p {
        text-align: center;
        font-size: 36px;
        line-height: 45px;
    }

    .banner__title {
        font-size: 70px;
        line-height: 80px;
    }
       .aboutus__wrap {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contacts__wrap{
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width:530px) {
 

    .banner__p {
        text-align: center;
        font-size: 32px;
        line-height: 40px;
    }
}
@media screen and (max-width:420px) {
    .list__link{
        font-size: 14px;
    }
    .aboutus__img img {
        max-width: 300px;
    }

    
}